cred/
/local/
bin/
build/development/*

.env
.*.env
.idea
/docs/
/tmp/

node_modules/

.DS_Store

/output-sam.yaml
/todo.md
/avatar.png
/avatar.svg
/avatars.png
/tests/http-client.private.env.json
/gen/
/.aws-sam/
/coverage.out

#Terraform
.terraform*
terraform.tfstate
terraform.tfstate.backup
