package views

import (
	"{{.Module}}/internal/app/layouts"
)

templ {{.DomainNameCapitalize}}Page(opt *layouts.InternalOptions, cmpList ...templ.Component) {
	@layouts.Internal(opt) {
		for i := range cmpList {
			@cmpList[i]
		}
	}
}

templ {{.DomainNameCapitalize}}Index(items []*{{.DomainNameCapitalize}}Response) {
	<section class="section heading" id="{{.DomainNamePlural}}">
        <h3 class="title is-3">{{.DomainNamePluralCapitalize}}</h3>
        <div class="list" id="{{.DomainNamePlural}}">
            for _, item := range items {
                { item.ID }
            }
        </div>
	</section>
}
